[submodule "main/modules/chrome_game"]
	path = main/modules/chrome_game
	url = git@github.com:shuai132/chrome_game.git
[submodule "main/modules/RpcCore"]
	path = main/modules/RpcCore
	url = git@github.com:shuai132/RpcCore.git
[submodule "main/modules/udp_multicast"]
	path = main/modules/udp_multicast
	url = git@github.com:shuai132/udp_multicast.git
